/* Reset margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #F8F9FA;
    color: #212529;
    line-height: 1.6;
    padding-top: 120px; /* To ensure content is not hidden behind the fixed navbar */
}

header {
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover,
nav ul li a.active { /* Class to be added dynamically to indicate the active page */
    color: #0056b3;
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 -2px 4px rgba(0,0,0,.1);
}
